<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Home</title>
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
	integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
	<header>
		<th:block th:replace="~{fragments/header :: header}">
		</th:block>
	</header>

	<main>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-12 d-flex justify-content-between">
				<a th:href="@{/pizzas}" class="btn btn-sm btn-dark"><i
						class="fa-solid fa-arrow-left"></i> Lista pizze</a>
					<a th:href="@{/ingredients/create}" class="btn btn-sm btn-success"><i
						class="fa-solid fa-plus"></i> Aggiungi</a>
				</div>
				<table class="table">
					<thead>
						<tr>

							<th scope="col">#</th>
							<th scope="col">Nome</th>
							<th colspan="2" scope="col">Descrizione</th>
							<th scope="col">Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="ingredient : ${ingredients}" th:object="${ingredient}"
							th:if="${ingredients.size() > 0}">
							<th>[[*{id}]]</th>
							<td>[[*{name}]]</td>
							<td colspan="2" th:if="${ingredient.hasDescription}">
								[[*{description}]]
							</td>
							<td colspan="2" th:unless="${ingredient.hasDescription}">
								<span class="fst-italic text-danger">Nessuna descrizione</span>
							</td>
							<td>
								<a
								th:href="@{/ingredients/edit/{id} (id=*{id})}"
								class="btn btn-sm btn-warning"><i class="fa-solid fa-pen"></i></a>
								<a th:href="@{/ingredients/delete/{id} (id=*{id})}"
								class="btn btn-sm btn-danger"><i class="fa-solid fa-trash"></i></a></td>
						</tr>
						<tr th:unless="${ingredients.size() > 0}">
							<td colspan="7" class="text-center">Nessun ingrediente trovato</td>
						</tr>
					</tbody>

				</table>
			</div>
		</div>
	</main>
</body>

</html>